@layer fonts {
    /* hanken-grotesk-500 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/hanken-grotesk-v11-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* hanken-grotesk-700 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/hanken-grotesk-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }

    /* hanken-grotesk-800 - latin */
    @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/hanken-grotesk-v11-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer colors {
    :root {
        /* Primary colors */
        --clr-light-red: hsl(0, 100%, 67%);
        --clr-light-red-faded: hsla(0, 100%, 67%, 0.423);
        --clr-orange-yellow: hsl(39, 100%, 56%);
        --clr-orange-yellow-faded: hsla(39, 100%, 56%, 0.423);
        --clr-green-teal: hsl(166, 100%, 37%);
        --clr-green-teal-faded: hsla(166, 100%, 37%, 0.423);
        --clr-cobalt-blue: hsl(234, 85%, 45%);
        --clr-cobalt-blue-faded: hsla(234, 85%, 45%, 0.423);
        /* Gradient colors */
        --clr-gradient-light-slate-blue-bckgr: hsl(252, 100%, 67%);
        --clr-gradient-light-royal-blue-bckgr: hsl(241, 81%, 54%);
        --clr-gradient-violet-blue-circle: hsla(256, 72%, 46%, 1);
        --clr-gradient-persian-blue-circle: hsla(241, 72%, 46%, 0);
        /* Neutral colors */
        --clr-white: hsl(0, 0%, 100%);
        --clr-pale-blue: hsl(221, 100%, 96%);
        --clr-light-lavender: hsl(241, 100%, 89%);
        --clr-dark-gray-blue: hsl(224, 30%, 27%);
        /* Font colors */
        --font-results-h1-description: var(--clr-pale-blue);
        --font-results-points: var(--clr-white);
        --font-results-points-secondary: var(--clr-dark-gray-blue);
        --font-results-secondary: var(--clr-dark-gray-blue);
        --font-summary-score-dark: var(--clr-gradient-persian-blue-circle);
        --font-summary-score: var(--clr-dark-gray-blue);

        /* Layout colors */
        --layout-main-background: var(--clr-light-lavender);
        --layout-card-gradient-light: var(--clr-gradient-light-slate-blue-bckgr);
        --layout-card-gradient-dark: var(--clr-gradient-light-royal-blue-bckgr);
        --layout-card-circle-light: var(--clr-gradient-violet-blue-circle);
        --layout-card-circle-dark: var(--clr-gradient-persian-blue-circle);
        --layout-card-background: var(--clr-pale-blue);
        --layout-reaction: var(--clr-light-red);
        --layout-memory: var(--clr-orange-yellow);
        --layout-verbal: var(--clr-green-teal);
        --layout-visual: var(--clr-cobalt-blue);
        --layout-continue-btn-light: var(--clr-gradient-light-slate-blue-bckgr);
        --layout-continue-btn-dark: var(--clr-gradient-light-royal-blue-bckgr);

    }
}

@layer layout {
    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    footer {
        font-size: 11px; 
        text-align: center;
        padding: 0;
        a > {
            color: hsl(228, 45%, 44%);
        }
    }
}